body {
    padding-top: 30px;
}

.wrapper {
    width: 700px;
    height: 765px;
    border-radius: 20px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    background-color: aliceblue;
}

.side {
    width: 240px;
    height: 765px;
    margin-left: 40px;
    border-radius: 20px;
    background-color: ghostwhite;
}

.side img {
   height: 300px;
    border-radius: 50%;
    border: 1px solid navy;
    box-shadow: 0 1px 5px navy;
}

a {
    text-decoration: none;
}

.tools {
    margin-top: 20px;
    border-bottom: 2px solid #000;
    padding-left: 20px;
    font-size: x-large;
    font-weight: bold;
    color: coral;
}

.skills {
    font-size: large;
    line-height: 1.2;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.Languages {
    border-bottom: 2px solid #000;
}

.main {
    width: 375px;
    height: 765px;
    margin-top: 80px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 375px;
    height: 50px;
    border-bottom: 2px solid #000;
}

.author {
    padding-bottom: 5px;
    font-size: 30px;
    font-family: ui-monospace;
    font-weight: bold;
    color: navy;
}

.text {
    width: 375px;
    height: 57px;
    padding: .5rem;
    font-size: x-large;
    font-weight: bold;
    color: navy;
}

.info {
    color: black;
    padding: 0 10px;
    font-size: 17px;
    font-family: serif;
}

.education {
    font-size: 20px;
    padding: .5rem;
    font-family: "Cambria Math", sans-serif;
}

.txt_contact {
    padding: 0;
    line-height: 1.5;
}

.txt_contact, .education p {
    font-family: "Cambria Math", sans-serif;
    color: coral;
    font-size: x-large;
    font-weight: bold;
}

.text-inf {
    padding-left: .5rem;
    color: black;
    font-size: 20px;
}

.contact {
    line-height: 25px;
    padding: 0 5px;
}

.contact li a {
    vertical-align: middle;
    color: black;
}

.contact li img {
    vertical-align: middle;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px solid sandybrown;
    position: absolute;
    left: 10px;
}


.ring {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: orange;
    position: absolute;
    left: 15px;
    top: 25px;
}

.square {
    width: 50px;
    height: 50px;
    border: 2px solid mediumvioletred;
    transform: rotate(45deg);
    position: absolute;
    bottom: 15px;
    right: 10px;
}
